body
{
background: #1e1f24;
color:#333;
text-align: center;
font-family: "Arial";   
font-size: 16px;
margin: 0;
padding: 0;
}

#cabecera
{
<<<<<<< HEAD
<<<<<<< HEAD
    background: #33a;
    box-shadow: 0px 2px 20px 0px rgba(0, 0, 0, 0.5);
=======
    background: #37488b;
    box-shadow: 0px 2px 20x 0px rgba(0, 0, 0, 0.5);
>>>>>>> 29301e97cfa128629351c6714a4d886658ff63e1
    color: white;
    font-weight: bold;
    margin: 0;
    padding: 0.5em;
=======
background: #33a;
box-shadow: 0px 2px 20px 0px rgba(0, 0, 0, 0.5);
color: white;
font-weight: bold;
margin: 0;
padding: 0.5em;
}

#cabecera #logo
{
 width: 20px;
vertical-align: middle;
>>>>>>> bcfabc99a174ffd2f81b1a17c8b33d38cb0d154c
}

#cabecera #logo
{
    width: 20px;
    vertical-align: middle;
}

#cabecera #tagline
{
padding: 0 0 0 1em;
font-weight: normal;
font-size: 0.5em;
}

#container 
{
width: 70%;
padding: 0;
text-align:  left;
border: 1px solid #DDD;
margin: 0 auto; 
}

#container h1
{
font-size: 20px;
}
#post
{
background: white;
padding: 1em;
}
<<<<<<< HEAD
<<<<<<< HEAD
=======

>>>>>>> bcfabc99a174ffd2f81b1a17c8b33d38cb0d154c
#footer

{
<<<<<<< HEAD
    background: #777;
    color: white;
    text-align: center;
    padding: 0.8em;
=======

#container h1
{
    font-size: 20px;
}
#post
{
    background: white;
    padding: 1em;
>>>>>>> 29301e97cfa128629351c6714a4d886658ff63e1
=======
background: #777;
color: white;
text-align: center;
>>>>>>> bcfabc99a174ffd2f81b1a17c8b33d38cb0d154c
}
